<div class="container">
  <div class="row">
    <div class="col">
      <h3>予約確認</h3>
    </div>
  </div>

  <%= form_with model: @reservation, url: reservations_path, local: true do |f| %>
    
  <div class="row">
    <div class="col">
      チェックイン
    </div>
    <div class="col">
    <%= @reservation.start_date %>
    </div>
  </div>


  <div class="row">
    <div class="col">
      チェックアウト
    </div>
    <div class="col">
    <%= @reservation.finish_date %>
    </div>
  </div>

  <div class="row">
    <div class="col">
    日数
    </div>
    <%= (@reservation.finish_date - @reservation.start_date).to_i %> 日
    <div class="col">
      
    </div>
  </div>

  <div class="row">
    <div class="col">
      人数
    </div>
    <div class="col">
    <%= @reservation.number_of_people %>
    </div>
  </div>

  <div class="row">
    <div class="col">
    お支払い金額
    </div>
    <div class="col">
    <%= @room.price * @reservation.number_of_people * (@reservation.finish_date - @reservation.start_date).to_i %> 円
    </div>
  </div>
  <p>上記の内容で正しければ「確定」ボタンを押してください</p>
  <div>
  <ul>
    <li><%= f.submit "予約完了する"%></li>
    <li><%= link_to "キャンセル", :rooms %></li>
  </ul>
</div>

  <% end %>
</div>

