<%=link_to"戻る",:rooms %>
<table>

<%= image_tag 'defolt_room_image.png', size: '80x80' %>
<tr>
  <th>施設名</th>
  <td><%=@room.name%></td>
</tr>

<tr>
  <th>施設詳細</th>
  <td><%=@room.description%></td>
</tr>

<tr>
  <th>料金</th>
  <td><%=@room.price%></td>
</tr>

<tr>
  <th>住所</th>
  <td><%=@room.adress%></td>
</tr>




</table>



