<!DOCTYPE html>
<html>
  <head>
    <title>Hotelreserve</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class ="header">
      <div class="header_logo"><img src="/logo.png" alt="サイトロゴ" width="322" height="43"></div>
      <ul class="header-menus">
      <% if user_signed_in? %>

          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <div class="dropdown">
          <li onclick="toggleDropdown()"><%= current_user.name %></li>
          <ul id="dropdownContent" class="dropdown-content">
            
            <li><%= link_to("アカウント設定","/users/account")%></li>
            <li><a href="#">メニュー項目2</a></li>
           
          </ul>
        </div>
      <% else %>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <li class="btn">
          <%= link_to "新規登録",new_user_registration_path%>
        </li>
        
      <% end %>
      </ul>
    </div>

    <!-- device移動予定 -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    

    

    <div class="footer">
      <div class="footer_logo"><img src="/logo.png" alt="サイトロゴ" width="322" height="43"></div>

      <script>
  function toggleDropdown() {
    var dropdownContent = document.getElementById("dropdownContent");
    dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
  }

  // ドキュメント外をクリックした場合にドロップダウンを非表示にする
  window.onclick = function(event) {
    var dropdown = document.querySelector('.dropdown');
    if (!event.target.matches('.dropdown li') && !event.target.matches('.dropdown-content')) {
      var dropdownContent = document.getElementById("dropdownContent");
      dropdownContent.style.display = 'none';
    }
  }
</script>
  </body>
</html>
