<%= render 'shared/account' %>


<div class="profile-image">
  <% if @image_name.present? %>
    <%= image_tag @image_name, size: '80x80' %>
  <% else %>
    <%= image_tag 'avatar.png', size: '80x80' %>
  <% end %>
</div>


<%= form_with(model: @user, url: update_user_path(@user), method: :put, local: true, multipart: true) do |form| %>
  <!-- 既存のフォームフィールド -->

  <!-- プロフィール画像のアップロードボタン -->
  <div class="field">
    <%= form.label :image_name, '画像のアップロード' %>
    <%= form.file_field :image_name %>
  </div>

  <%= form.submit '更新' %>
<% end %>




